<!-- edit_swap.html -->
{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/add_swap_post.css' %}">
</head>

<form class="swap-post-container" method="post" enctype="multipart/form-data">
    <div class="swap-post-header">
        <div class="header-title">編輯交換貼文</div>
    </div>
    <div class="form-section">
        <div class="form-item-group">
            <div class="section-title">物品資訊</div>
            <div class="form-field">
                <div class="field-label">遊戲名稱</div>
                <select class="drop-down-menu" id="gameName">
                    <option value=""></option>
                    <option value="game1">遊戲1</option>
                    <option value="game2">遊戲2</option>
                    <option value="game3">遊戲3</option>
                </select>
            </div>
            <div class="form-field">
                <div class="field-label">伺服器</div>
                <select class="drop-down-menu" id="serverName">
                    <option value=""></option>
                    <option value="game1">伺服器1</option>
                    <option value="game2">伺服器2</option>
                    <option value="game3">伺服器3</option>
                </select>
            </div>
            <div class="form-field">
                <div class="field-label">物品名稱</div>
                <input class="input-field" type="text" name="itemName" placeholder="">
            </div>
            <div class="form-field">
                <div class="form-field-img">
                    <div class="field-label">物品圖片</div>
                    <input type="file" id="itemImg" class="hidden-input">
                    <label for="itemImg" class="upload-button">上傳</label>
                </div>
                <div class="upload-img"></div>
            </div>
            <div class="form-field">
                <div class="field-label">物品描述</div>
                <input class="input-field" type="text" name="item-describe" id="itemDescribe" placeholder="">
            </div>
            <div class="form-field">
                <div class="field-label">需求物品</div>
                <input class="input-field" type="text" name="need-item" id="needItem" placeholder="">
            </div>
        </div>
        <div class="form-swap-group">
            <div class="section-title">交換資訊</div>
            <div class="form-field">
                <div class="field-label">交換時間</div>
                <input class="input-field" type="text" name="swap-time" id="swapTime" placeholder="">
            </div>
            <div class="form-field">
                <div class="field-label">交換地點</div>
                <input class="input-field" type="text" name="swap-location" id="swapLocation" placeholder="">
            </div>
            <div class="form-field">
                <div class="field-label">角色名稱</div>
                <input class="input-field" type="text" name="role-name" id="swapRole" placeholder="">
            </div>
        </div>
    </div>
    <div class="submit-button-container">
        <button class="submit-button">
            <div class="submit-button-label">更新</div>
        </button>
    </div>
</form>

<script>
    document.querySelector('#itemImg').addEventListener('change', function (e) {
        var reader = new FileReader();
        reader.onload = function (e) {
            document.querySelector('.upload-img').style.backgroundImage = 'url(' + e.target.result + ')';
        };
        reader.readAsDataURL(e.target.files[0]);
    });
</script>

{% endblock %}