<!-- footer.html -->
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>

<footer>
    <div class="footer">
        <div class="footer-top">
            <div class="footer-left">
                <div class="footer-left-inner">
                    <div class="footer-logo">
                        <div class="footer-exclusive">虛擬寶物交換網</div>
                    </div>
                    <div class="footer-version">Version 1.0</div>
                </div>
            </div>
            <div class="footer-right">
                <div class="footer-contact">聯絡方式</div>
                <div class="footer-contact-info">
                    <div class="footer-email">10946007@ntub.edu.tw</div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-line"></div>
            <div class="copyright-group">
                <div class="copyright-icon">
                    <img class="group-icon" src="/static/images/icon-copyright.png" />
                </div>
                <div class="copyright-text">
                    Copyright 虛擬寶物交換網 2024. All right reserved
                </div>
            </div>
        </div>
    </div>
</footer>