<!-- header.html -->
{% load static %}

{# 定義 URL 變量 #}
{% url 'index' as index_url %}
{% url 'add_swap_post' as add_swap_post_url %}
{% url 'swap_manage' as swap_manage_url %}
{% url 'account' as account_url %}
{% url 'login' as login_url %}
{% url 'register' as register_url %}

<head>
    <link rel="stylesheet" href="{% static 'css/top-header.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>

<div class="top-header ">
    <div class="frame-746">
        <div class="hello">
            您好！
            {% if user.is_authenticated %}
            {{ user.username }}，歡迎來到虛擬寶物交換網。
            {% else %}
            歡迎來到虛擬寶物交換網。
            {% endif %}
        </div>
    </div>
</div>

<nav class="navbar">
    <div class="container-fluid centered-content">
        <a class="navbar-brand" href="#">虛擬寶物交換網</a>
        <div class="navbar-links">
            <a href="{% url 'index' %}" class="nav-link {% if request.path == index_url %}active{% endif %}">首頁</a>
            
            {% if user.is_authenticated %}
            <a href="{% url 'add_swap_post' %}"
                class="nav-link {% if request.path == add_swap_post_url %}active{% endif %}">刊登交換</a>
            <a href="{% url 'swap_manage' %}" class="nav-link {% if request.path == swap_manage_url %}active{% endif %}">交換管理</a>
            <a href="{% url 'logout' %}" class="nav-link">登出</a>
            <a href="{% url 'account' %}" class="nav-link {% if request.path == account_url %}active{% endif %}">我的帳號</a>
            {% else %}
            <a href="{% url 'login' %}?next={% url 'add_swap_post' %}" class="nav-link {% if request.path == add_swap_post_url %}active{% endif %}">刊登交換</a>
            <a href="{% url 'login' %}?next={% url 'swap_manage' %}" class="nav-link {% if request.path == swap_manage_url %}active{% endif %}">交換管理</a>
            <a href="{% url 'login' %}" class="nav-link {% if request.path == login_url %}active{% endif %}">登入</a>
            <a href="{% url 'register' %}" class="nav-link {% if request.path == register_url %}active{% endif %}">註冊</a>
            {% endif %}
        </div>
    </div>
</nav>
<div class="divider"></div>