<!-- header.html -->
<div class="top-header">
    <div class="frame-746">
        <div class="frame-555">
            <div class="hello">您好！ 歡迎來到虛擬寶物交換平台。</div>
        </div>
    </div>
</div>

<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">虛擬寶物交換網</a>
        <div class="navbar-links">
            <a class="nav-link" href="{% url 'index' %}">首頁</a>
            <a class="nav-link" href="{% url 'add_swap' %}">刊登交換</a>
            <a class="nav-link" href="#">交換管理</a>
            <a class="nav-link" href="#">登出</a>
            <a class="nav-link" href="{% url 'login' %}">登入</a>
            <a class="nav-link" href="{% url 'signup' %}">註冊</a>
        </div>
    </div>
</nav>
<div class="divider"></div>
