<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>重設您的密碼</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #000000;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>重設您的密碼</h1>
        <p>親愛的 {{ user.username }}，</p>
        <p>我們收到了重設您在【虛擬寶物交換網】帳號密碼的請求。如果這不是您本人的操作，請忽略此郵件。</p>
        <p>要重設您的密碼，請點擊下面的按鈕：</p>
        <p>
            <a href="http://{{ domain }}{% url 'reset_password_confirm' uidb64=uid token=token %}" class="button">
                重設密碼
            </a>
        </p>
        <p>或者，您可以複製並貼上以下連結到您的瀏覽器：</p>
        <p>http://{{ domain }}{% url 'reset_password_confirm' uidb64=uid token=token %}</p>
        <p>此連結將在 {{ reset_days }} 天後失效。</p>
        <p>如果您沒有請求重設密碼，請忽略此郵件，您的帳號將保持安全。</p>
        <p>感謝您使用我們的服務！</p>
        <p>祝您使用愉快，<br>【虛擬寶物交換網】團隊</p>
    </div>
</body>

</html>