<!-- reset_password_confirm.html -->

{% extends "base.html" %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
</head>

<div class="reset-password-container">
    <h2>重設密碼</h2>
    <!--
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    -->
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="new_password">新密碼：</label>
            <input type="password" name="new_password" required>
        </div>
        <div class="form-group">
            <label for="confirm_password">確認新密碼：</label>
            <input type="password" name="confirm_password" required>
        </div>
        <button type="submit">重設密碼</button>
    </form>
</div>

{% endblock %}