.swap-post-container,
.swap-post-container * {
    box-sizing: border-box;
}

.swap-post-container {
    margin-top: 50px;
    margin-left: 10%;
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 33px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
}

.swap-post-header {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1020px;
    position: relative;
}

.header-title {
    color: var(--secondary-2, #df2648);
    text-align: left;
    font-family: var(--heading-36px-medium-font-family,
            "Inter-Medium",
            sans-serif);
    font-size: var(--heading-36px-medium-font-size, 36px);
    line-height: var(--heading-36px-medium-line-height, 30px);
    letter-spacing: var(--heading-36px-medium-letter-spacing, 0.04em);
    font-weight: var(--heading-36px-medium-font-weight, 500);
    position: relative;
}

.item-info-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.section-title {
    color: var(--text2, #000000);
    text-align: left;
    font-family: var(--heading-24px-medium-font-family,
            "Inter-Medium",
            sans-serif);
    font-size: var(--heading-24px-medium-font-size, 24px);
    line-height: var(--heading-24px-medium-line-height, 24px);
    letter-spacing: var(--heading-24px-medium-letter-spacing, 0.03em);
    font-weight: var(--heading-24px-medium-font-weight, 500);
    position: relative;
}

.swap-info-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.form-section {
    display: flex;
    flex-direction: row;
    gap: 220px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.form-item-group {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 470px;
    position: relative;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.field-label {
    color: var(--text2, #000000);
    text-align: left;
    font-family: var(--title-16px-regular-font-family,
            "Poppins-Regular",
            sans-serif);
    font-size: var(--title-16px-regular-font-size, 16px);
    line-height: var(--title-16px-regular-line-height, 24px);
    font-weight: var(--title-16px-regular-font-weight, 400);
    opacity: 0.4000000059604645;
    position: relative;
}

.drop-down-menu {
    flex-shrink: 0;
    width: 470px;
    height: 50px;
    position: relative;
    border: none;
    background: var(--secondary, #f5f5f5);
    /* 隱藏原始的下拉圖示 */
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    appearance: none;
    /* 添加自定義的圖片 */
    background-image: url("/static/images/dropdown-icon.png");
    background-repeat: no-repeat;
    background-position: right center;
    /* 添加一些 padding，使得文字不會和圖片重疊 */
    padding-right: 34px;

}

.dropdown-content {
    background: var(--secondary, #f5f5f5);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 0%;
    overflow: hidden;

}

.form-field-img {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.hidden-input {
    display: none;
}

.upload-button {
    background: var(--button1, #52d880);
    border-radius: 4px;
    padding: 4px 12px 4px 12px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    color: var(--text, #fafafa);
    font-family: var(--title-12px-regular-font-family,
            "Poppins-Regular",
            sans-serif);
    font-size: var(--title-12px-regular-font-size, 12px);
    line-height: var(--title-12px-regular-line-height, 18px);
    font-weight: var(--title-12px-regular-font-weight, 400);
    text-align: left;
}

.upload-img {
    background: var(--secondary, #f5f5f5);
    border-radius: 4px;
    flex-shrink: 0;
    width: 200px;
    height: 300px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-img::before {
    content: '\1F4F7';
    /* 相機表情符號 */
    font-size: 40px;
    color: #ccc;
}

.upload-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* 這將確保圖片完整顯示，不會被裁剪 */
    display: none;
    /* 初始隱藏 */
}

.upload-img.has-image::before {
    display: none;
}

.upload-img.has-image img {
    display: block;
}

.form-swap-group {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 470px;
    position: relative;
}

.input-field {
    background: var(--secondary, #f5f5f5);
    border-radius: 4px;
    flex-shrink: 0;
    width: 470px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border: none;
    outline: none;
}

.submit-button-container {
    padding: 0px 482px 0px 482px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1020px;
    position: relative;
}

.submit-button {
    background: var(--button2, #315cea);
    border-radius: 4px;
    padding: 4px 12px 4px 12px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    border: none;
    width: 56px;
    height: 32px;
    margin: 0 calc(50% + 56px);
}

.submit-button-label {
    color: var(--text, #fafafa);
    text-align: left;
    font-family: var(--title-16px-regular-font-family,
            "Poppins-Regular",
            sans-serif);
    font-size: var(--title-16px-regular-font-size, 16px);
    line-height: var(--title-16px-regular-line-height, 24px);
    font-weight: var(--title-16px-regular-font-weight, 400);
    position: relative;
}