.footer,
.footer * {
    box-sizing: border-box;
}

.footer {
    background-color: var(--button, #000000);
    color: #fafafa;
    padding: 10px;
    text-align: center;
    font: 400 14px/100% Poppins, sans-serif;
    height: 220px;
    position: relative;
    overflow: hidden;
    margin-top: 31px;
}

.footer-top {
    display: flex;
    flex-direction: row;
    gap: 600px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
    position: relative;
    left: 10%;
    top: 30px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.footer-left-inner {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 217px;
    position: relative;
}

.footer-logo {
    flex-shrink: 0;
    width: 118px;
    height: 24px;
    position: relative;
}

.footer-exclusive {
    color: var(--text, #fafafa);
    text-align: left;
    font-family: var(--heading-24px-bold-font-family, "Inter-Bold", sans-serif);
    font-size: var(--heading-24px-bold-font-size, 24px);
    line-height: var(--heading-24px-bold-line-height, 24px);
    font-weight: var(--heading-24px-bold-font-weight, 700);
    position: relative;
    right: -67.8%;
    left: 0%;
    width: 167.8%;
    bottom: 0%;
    top: 0%;
    height: 100%;
}

.footer-version {
    color: var(--text, #fafafa);
    text-align: left;
    font-family: var(--title-20px-medium-font-family, "Poppins-Medium", sans-serif);
    font-size: var(--title-20px-medium-font-size, 20px);
    line-height: var(--title-20px-medium-line-height, 28px);
    font-weight: var(--title-20px-medium-font-weight, 500);
    position: relative;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.footer-contact {
    color: var(--text, #fafafa);
    text-align: left;
    font-family: var(--title-20px-medium-font-family, "Poppins-Medium", sans-serif);
    font-size: var(--title-20px-medium-font-size, 20px);
    line-height: var(--title-20px-medium-line-height, 28px);
    font-weight: var(--title-20px-medium-font-weight, 500);
    position: relative;
}

.footer-contact-info {
    color: var(--text, #fafafa);
    text-align: left;
    font-family: var(--title-16px-regular-font-family, "Poppins-Regular", sans-serif);
    font-size: var(--title-16px-regular-font-size, 16px);
    line-height: var(--title-16px-regular-line-height, 24px);
    font-weight: var(--title-16px-regular-font-weight, 400);
    position: relative;
}

.footer-email {
    color: var(--text, #fafafa);
    text-align: left;
    font-family: var(--title-16px-regular-font-family, "Poppins-Regular", sans-serif);
    font-size: var(--title-16px-regular-font-size, 16px);
    line-height: var(--title-16px-regular-line-height, 24px);
    font-weight: var(--title-16px-regular-font-weight, 400);
    position: relative;
}

.footer-bottom {
    opacity: 0.4000000059604645;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 5px;
}

.footer-line {
    opacity: 0.5;
    flex-shrink: 0;
    width: 100%;
    background-color: #fff;
    height: 0.5px;
    position: relative;
    overflow: visible;
}

.copyright-group {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.footer-icon {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
}

.footer-group-icon {
    width: 83.33%;
    height: 83.33%;
    position: relative;
    right: 8.33%;
    left: 8.33%;
    bottom: 8.33%;
    top: 8.33%;
    overflow: visible;
}

.footer-copyright-text {
    color: var(--primary, #ffffff);
    text-align: left;
    font-family: var(--title-16px-regular-font-family, "Poppins-Regular", sans-serif);
    font-size: var(--title-16px-regular-font-size, 16px);
    line-height: var(--title-16px-regular-line-height, 24px);
    font-weight: var(--title-16px-regular-font-weight, 400);
    position: relative;
}