.container-fluid,
.container-fluid * {
    box-sizing: border-box;
}

.navbar {
    position: relative;
    background-color: #fff;
    /* 背景顏色 */
    padding: 12px;
    /* 上下左右的內邊距 */
    font-size: 18px;
    /* 設置導覽列字體大小 */
}

.brand-logo {
    margin-right: 10px;
        /* 調整間距 */
    padding: 0;
    width: auto;
    height: auto;
    max-height: 32px;
    /* 保持原來的高度限制 */
    transform: scale(1.35);
    /* 放大 1.5 倍 */
}

.navbar-links {
    display: flex;
    margin: auto;
    /* 水平排列連結 */
}

.navbar-links .nav-link {
    margin-right: 48px;
    /* 調整連結之間的間距 */
    color: #383836;
    /* 文字顏色 */
    text-decoration: none;
    /* 移除連結的下劃線 */
}

.navbar-links .nav-link:hover {
    color: #007bff;
    /* 滑鼠懸停時的文字顏色 */
}

.navbar-links .nav-link.active {
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 6px;
        /* 調整下底線與文字的距離 */
}

.divider {
    background-color: #000;
    position: relative;
    margin-bottom: 31px;
    height: 0.5px;
    width: 100%;
    opacity: 0.3;
    /* 設置透明度為 0.5 */
    overflow: visible;

}